<h1>Post details</h1>
<h2>Title: <%= @post.title %></h2>
<hr>
<h3>Text: <%= @post.text %></h3>
<hr>
<h3>Author: <%= @post.author %></h3>
<hr>
<h3>Category: <%= @post.category %></h3>
<hr>
<h4>Date: <%= @post.date %></h4>
<hr>
<h4><a href="/posts">Back</a></h4>